*
!/.gitignore
!/README
!/.conkyrc
!/.vimrc
!/.mplayer
/.mplayer/*
!/.mplayer/config
!/.loginrc
!/.Xmodmap
!/.Xunmodmap
!/.bashrc_mine
!/.vim
!/.vim/**
!/bin
/bin/**
!/bin/vimdow
~/bin/burn
!/windows
!/windows/**
