[submodule ".vim/pack/nerdtree/start/nerdtree"]
	path = .vim/pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/vim-ps1/start/vim-ps1"]
	path = .vim/pack/vim-ps1/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
