*
!/.gitignore
!/README
!/.conkyrc
!/.vimrc
!/.mplayer
/.mplayer/*
!/.mplayer/config
!/.loginrc
!/.Xmodmap
!/.bashrc_mine
!/.vim
/.vim/*
!/.vim/colors
/.vim/colors/*
!/.vim/colors/murphyme.vim
!/.vim/syntax
/.vim/syntax/*
!/.vim/syntax/mycpp.vim
!/.vim/syntax/myhs.vim
!/.vim/syntax/myrkt.vim
!/.vim/syntax/myperl.vim
!/bin
/bin/*
!/bin/mtvim
